body {
    margin: 0;
    height: 100vh;
    background: rgb(243, 179, 179);
    font-family: 'Courier New', Courier, monospace;
}

.card {
    margin-top: 10em;
    padding: 0 5em;

    &__title {
        background-color: rgba(17, 51, 17, 0.2);
        padding: 0.3em;
        margin: 0;
        color: teal;
    }

    &__content {
        background-color: white;
        padding: 0 1em;

        &__list {
            list-style-type: none;
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
            padding-top: 1em;

            &__item {
                background: rgb(230, 230, 230);
                border-radius: 0.5em;
                font-size: 1.2em;
                padding: 0.5em 0.5em;
                margin-right: 1em;

                &:hover {
                    background-color: cadetblue;
                }

                &--active {
                    background: #d4d4d4;
                    font-weight: bold;
                }
            }
        }
    }
}